body {
  display: block;
  padding: 0%;
  box-sizing: border-box;
 
}
.logo {
  margin-top: 1%;
}

.auth {
  margin-top: 0%;
  justify-content: space-between;
 } 
.bg-dark{
  color: #cee3d9;
}

.input-field{
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 padding: 3%;
 width: 100%;
  align-items: center;
  justify-content: center;
  background-color:#187d4e;
  color: rgb(243, 241, 241);

}
.category-select{
  padding: 3px;
}
.input-section input {
  font-family: unset;
  line-height: normal;
  padding: 2px;
 
} 
.input-button .add-btn {
  border-color: #f0f4f2;
  background-color: #cee3d9;
  border-radius: 4px;
  padding: 1px 8px;
}

/* expenses list */

table{
  width: 100%;
  border-collapse: collapse;
  margin: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
td .btn{
  background-color: #187d4e;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #cee3d9;
  padding: 2px 3px;
  font-size: 11px;
  border-width: 3px;
}

td .btn:hover{
  background-color: #212529;
  color: #cee3d9;

}
