body {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.navbar-nav a{
  color: #cee3d9;
}

.navbar{
  width: 100%;
  background: #3e3e3e;
}

.user-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
  color: #2c2c2c;
  background: #beddce;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.user {
  width: 30%;
}
.user p{
  font-style: italic;
}


.progress-circle{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.progress-circle::before{
  content: "";
  position: absolute;
  inset: 5px;
  border-radius: 50%;
  background: #222;
  opacity: 0.8;
}
.progress-circle::after{
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  background: #333;
  border: 15px solid #4d4c51;
  border-radius: 50%;
  box-shadow: inset 0 5px 10px rgba(0, gre0en, 0, 0.25),
  0 10px 10px rgba(0, 0, 0, 0.75),
  0 2px -2px rgba(255, 255, 255, 0.5),
  inset 0 4px 2px rgba(0, 0, 0, 0.25), 
  inset 0 -2px 2px rgba(255, 255, 255, 0.5);
  
}

.progress-circle .number{
  position: relative;
  color: #fff;
  z-index: 10;
  line-height: 10px;
  font-size: 16px;
}
.progress-circle .number span{
  font-size: 10px;
  font-weight: 700;
}

.progress-circle h5{
  position: relative;
  color: #fff;
  z-index: 10;
  line-height: 8px;
  font-size: 10px;
  text-transform: uppercase;
}



/* @media  screen and (max-width: 1000px) {
  .user-container {
    flex-direction: column;
  }
}
@media  screen and (min-width: 1150px) {
  .user-container {
    font-size: 18px;
  }
}
@media  screen and (max-width: 500px) {
  .user-container {
    font-size: 13px;
  }
} */

/* .user-container .total-amount-section{
  width: 50%;
  float: right;
  display: block;
  text-align: center;
  align-items: center; 
  font-size: 20px;
  font-weight: bold;
} */
/* .user-container .income-expenses {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}
#income-amount{
  color: #187d4e;
}
#expenses-amount{
  color: #fa845d;
} */
form{
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 display: flex;
flex-wrap: wrap;
width: 100%;
background-color:#187d4e;
color: rgb(243, 241, 241);
}

form div {
  place-items: center;
  padding: 5%;
  height: 30vh;
  align-content: center;
  justify-content:space-around;
  
}
.category-select:focus-within{
font-size: 14px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
input, label, select {
  font-size:initial;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 50%;
}
.input-section input {
  font-family: unset;
  line-height: normal;
 
} 
.input-button{
flex-direction: column;
}
.input-button .add-btn {
  border-color: #f0f4f2;
  background-color: #cee3d9;
  border-radius: 4px;
  padding: 1px 3px;
}

/* expenses list */


.expenses-list{
  flex-direction: column;
  width: 100%;
  background-color: #cee3d9;
  color: #0a0c0b;
}

.expenses-list h2{
  padding-top: 20px;
  font-size: 24px;
  letter-spacing: 3px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-transform: uppercase;
}
.new-expenses{
  flex-direction: row;
  flex-wrap: nowrap;
  width: 80%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-evenly;
  list-style-type: none;
  background-color: #e8ecea;
  color: #030303;
  border: 3px  solid #f2f3f2;
}

.new-expenses th {
  margin-left: auto;
  margin-right: auto;
  justify-content: space-evenly;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-transform: uppercase
}
.expenses-list-category{
  width: 80%;
  background-color: #cee3d9;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-evenly;
}

td button{
  background-color: #187d4e;
  border: #187d4e;
  border-radius: 5px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #cee3d9;
  padding: 3px 5px;
  font-size: 9px;
}

td button:hover{
  background-color: #212529;
  color: #cee3d9;

}